<div class="place-wrapper">
  <button class="place remove" (click)="removePlace()">remove</button>
  <button class="place edit" (click)="showEditPlaceForm(templateForm)">edit</button>{{place.marker.label}}
  <!-- Show Map -->
  <button class="btn btn-primary btn-sm pull-right" (click)="showMap(templateMap)">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
  </button>
</div>
<!-- Modal Template of Map -->
<ng-template #templateMap>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Map</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <agm-map style="width: 498; height: 512px;"
            [latitude]="place.marker.point.lat"
            [longitude]="place.marker.point.lng"
            [zoom]="12"
            [zoomControl]="false"
            [disableDefaultUI]="false">
            <agm-marker
                [latitude]="place.marker.point.lat"
                [longitude]="place.marker.point.lng"
                [label]="place.marker.label">
                <agm-info-window>
                    <strong>{{place.marker.info}}</strong>
                </agm-info-window>    
            </agm-marker>
        </agm-map>
    </div>
</ng-template>
<ng-template #templateForm>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Place</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="placeForm" (ngSubmit)="onSubmitPlaceForm(placeForm)" novalidate>
            <input type="hidden" name="id" formControlName="id">
            <p> Is "myForm" valid? {{ placeForm.valid }} </p>
            <div class="form-group">
                <input class="form-control" type="text" name="name" formControlName="name">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description" formControlName="description"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="lat" formControlName="lat">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="lng" formControlName="lng">
            </div>
            <button type="submit" class="btn btn-default" [disabled]="placeForm.invalid || placeForm.pending">Save</button>
        </form>
    </div>
</ng-template>
