.place-wrapper {
  border-bottom: 1px solid #efefef;
  text-align: left;
  margin-bottom: 10px;
}

.place {
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
}

.remove {
  color: rgba(203, 20, 32, 0.4);
  border-color: rgba(203, 20, 32, 0.4);
}

.edit {
  color: rgba(29, 151, 84, 0.89);
  border-color: rgba(29, 151, 84, 0.89);
}
