﻿<div class="container">
    <div class="row">
        <header></header>
    </div>
    <div class="row">
        <div class="col-md-6">
            <place-input></place-input>
        </div>
        <div class="col-md-6">
            <div *ngFor="let place of placeService.getPlaces()">
                <place-item [place]="place"></place-item>
            </div>
        </div>
    </div>
</div>
