<div class="place-input-wrapper">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="name" value={{name}}>
  </div>
  <div class="input-group">
      <div class="form-group">
        <label for="lat">Latitude</label>
        <input type="number" class="form-control" id="lat" [(ngModel)]="lat" value={{lat}}>
      </div>
      <span class="input-group-addon">&nbsp;</span>
      <div class="form-group">
        <label for="lng">Longitude</label>
        <input type="number" class="form-control" id="lng" [(ngModel)]="lng" value={{lng}}>
      </div>
  </div>
  <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" [(ngModel)]="description">{{description}}</textarea>
  </div>
  <button class="btn btn-primary pull-right" (click)="addPlace()">Submit</button>
</div>
